<div class="panel panel-primary">
    <div class="panel-heading">Bieren</div>
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Type</th>
                <th>Volume</th>
                <th>Alcohol %</th>
                <th>Fust</th>
            </tr>
        </thead>
        <tbody>
            {% for beer in brewery.beers %}
                <tr>
                    <td>{{ beer.name }}</td>
                    <td>{{ beer.style }}</td>
                    <td>{{ beer.volume }}</td>
                    <td>{{ beer.alcohol }}</td>
                    <td>{{ beer.keg }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center;">Geen bieren gevonden.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Route</div>
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="{{ mapsEmbedUrl }}" allowfullscreen></iframe>
</div>